@import "tailwindcss";

@font-face {
	font-family: "CircularBold";
	src: url("/Circular/CircularStd-Bold.otf") format("opentype");
	font-style: normal;
}

@font-face {
	font-family: "CircularBlack";
	src: url("/Circular/CircularStd-Black.otf") format("opentype");
	font-style: normal;
}

@font-face {
	font-family: "CircularBook";
	src: url("/Circular/CircularStd-Book.otf") format("opentype");
	font-style: normal;
}

@font-face {
	font-family: "CircularLight";
	src: url("/Circular/CircularStd-Light.otf") format("opentype");
	font-style: normal;
}

@layer base {
	:root {
		color: white;
	}

	body {
		background-color: #121212;
	}
}

@theme {
	--default-font-family: "CircularBook";
	/* dark */
	--color-purple-dark: #5a189a;
	--color-p1: #e7d8f7;
	--color-p2: #cfb1ee;
	--color-p3: #b88ae6;
	--color-p4: #a062dd;
	--color-p5: #883bd5;

	/* fonts */
	--font-CircularLight: "CircularLight";
	--font-CircularBlack: "CircularBold";
	--font-CircularBold: "CircularBlack";
	--font-CircularBook: "CircularBook";
}

@utility container {
	@apply max-w-[1480px] mx-auto px-4 md:px-6 xl:px-8;
}

.cube_container {
	width: 50%;
	position: relative;
	transform: rotate(-35deg);
}
.cube_container .box {
	position: relative;
	left: -100px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: clac(100% + 400px);
	-webkit-box-reflect: below 1px linear-gradient(transparent, #000);
	animation: animatesurface 1.5s ease-in-out infinite;
}
@keyframes animatesurface {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-200px);
	}
}
.cube_container .box .cube {
	position: relative;
	background: #a062dd;
	box-shadow:
		0 0 5px rgb(160, 98, 221),
		0 0 25px rgb(140, 78, 201),
		0 0 50px rgb(120, 58, 181),
		0 0 150px rgb(100, 38, 161);
	transform-origin: bottom right;
	animation: aa 1.5s ease-in-out infinite;
}
@keyframes aa {
	0% {
		transform: rotate(0deg);
	}
	60%,
	70%,
	80%,
	100% {
		transform: rotate(90deg);
	}
	65% {
		transform: rotate(85deg);
	}
	75% {
		transform: rotate(87.5deg);
	}
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* IE and Edge */
	.no-scrollbar {
		-ms-overflow-style: none;
	}

	/* Firefox */
	.no-scrollbar {
		scrollbar-width: none;
	}
}
